<ion-view view-title="About">
  <ion-content class="padding">

    <div class="item item-text-wrap">
      Bulki intends to save consumers money by allowing shoppers to coordinate
      and make bulk purchases. Whenever you find a group deal, and you can't
      buy all of it yourself, come to Bulki and create an event surrounding it.
      <br>
      Soon other users will see it in your feed and ask to join. When you have
      enough people, make the purchase!
    </div>

  </ion-content>
</ion-view>