input[type="number"] {
	width: 3em;
}

.ion-ios-arrow-right {
	opacity: .4;
}

.bar-footer .button-block {
	margin: 0px !important;
}

.title {
	color: #111;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: bold !important;
	letter-spacing: 0px;
	text-shadow: none;
	text-align: center;
}

[nav-view-transition][nav-view-direction] {
	background-color: transparent !important;
}

.stressed {
	padding-#chatBox input, textarea, .item-input, .item-input-wrapperright: 10px;
	color: #262626;
	text-decoration: none;
}

.full-image {
	max-width: 300px;
}

label.item.has-error {
	border-bottom: 2px solid red;
}

.form-errors {
	margin: 5px 0;
}

.form-error {
	padding: 2px 0 2px 16px;
	color: red;
}

@import "lesshat";

.star-ratings-sprite {
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
		repeat-x;
	font-size: 0;
	height: 21px;
	line-height: 0;
	overflow: hidden;
	text-indent: -999em;
	width: 110px;
	margin: 0 auto;
}

.star-ratings-sprite-rating {
	background:
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
		repeat-x;
	background-position: 0 100%;
	float: left;
	height: 21px;
	display: block;
}

